<div class="container" *ngIf="isLogged">
  <div>
    <p class="h1 p-3 bg-info text-white text-center">Crear nueva Educacion</p>
    <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
      <div class="input-group mb-3">
        <span class="input-group-text">Titulo</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="titulo"
          [(ngModel)]="editEducacion.titulo"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">institucion</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="institucion"
          [(ngModel)]="editEducacion.institucion"
          required
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Direccion</span>
        <input
          placeholder="Localidad, Provincia, Nacionalidad."
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="direccion"
          [(ngModel)]="editEducacion.direccion"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">URL Foto</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="url_foto"
          [(ngModel)]="editEducacion.url_foto"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Fecha inicio</span>
        <input
          placeholder="yyyy-mm-dd"
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="fecha_inicio"
          [(ngModel)]="editEducacion.fecha_inicio"
          required
        />
        <span class="input-group-text">Fecha Fin</span>
        <input
          placeholder="yyyy-mm-dd"
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="fecha_fin"
          [(ngModel)]="editEducacion.fecha_fin"
          required
        />
      </div>

      <p class="p-3 mb-2 bg-secondary text-white text-center">
        Dato: como default esta asignad la persona 1
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Persona ID</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="persona_id"
          [(ngModel)]="editEducacion.persona_id"
          required
        />

        <div class="container overflow-hidden text-center">
          <div class="row gx-5">
            <div class="col">
              <div class="p-3 border bg-light">
                <button class="btn btn-success text-white" type="submit">
                  edit educacion
                </button>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <button class="btn btn-info text-white" routerLink="/educacion/crear" type="button">
                  Volver a crear educacion
                </button>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <button class="btn btn-primary" routerLink="/" type="button">
                  Volver al index
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <p class="h1 p-3 bg-danger text-white text-center">Seleccionar Educacion a eliminar</p>
  <div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col" *ngFor="let educacion of educaciones">
        <button
          type="button"
          class="btn btn-danger"
          routerLink="/educacion/crear/"
          (click)="onDelete(educacion.id)"
        >Eliminar
          {{ educacion.titulo }}
        </button>
      </div>
    </div>
  </div>
</div>
