<div class="container" *ngIf="isLogged">
  <div>
    <p class="h1 p-3 bg-info text-white text-center">Crear nueva Experiencia</p>
    <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
      <div class="input-group mb-3">
        <span class="input-group-text">Puesto</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="puesto"
          [(ngModel)]="editExperiencia.puesto"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Empresa</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="nombre_empresa"
          [(ngModel)]="editExperiencia.nombre_empresa"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Tipo de Empleo</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="tipo_empleo"
          [(ngModel)]="editExperiencia.tipo_empleo"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Fecha inicio</span>
        <input
          placeholder="yyyy-mm-dd"
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="fecha_inicio"
          [(ngModel)]="editExperiencia.fecha_inicio"
          required
        />
        <span class="input-group-text">Fecha Fin</span>
        <input
          placeholder="yyyy-mm-dd"
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="fecha_fin"
          [(ngModel)]="editExperiencia.fecha_fin"
          required
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">descripcion</span>
        <textarea
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="descripcion"
          [(ngModel)]="editExperiencia.descripcion"
          required
        ></textarea>
      </div>

      <p class="p-3 mb-2 bg-secondary text-white text-center">
        Dato: como default esta asignad la persona 1, modificarlo de ser
        necesario
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Persona ID</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="persona_id"
          [(ngModel)]="editExperiencia.persona_id"
          required
        />

        <div class="container overflow-hidden text-center mt-4">
          <div class="row gx-5">
            <div class="col">
              <div class="p-3 border bg-light">
                <button class="btn btn-success text-white" type="submit">
                  Modificar experiencia
                </button>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <button
                  class="btn btn-info text-white"
                  routerLink="/experiencia/crear"
                  type="button"
                >
                  Voler a Crear experiencia
                </button>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <button class="btn btn-primary" routerLink="/" type="button">
                  Volver al index
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <p class="h1 p-3 bg-danger text-white text-center">Borrar hacer Experiencia</p>
  <p class="p-3 mb-2 bg-secondary text-white text-center">
    Dato: al hacer click en el boton se borrara automaticamente
  </p>
  <div class="text-center">

    <button
          type="button"
          class="btn btn-danger btn-lg"
          routerLink="/experiencia/crear"
          (click)="onDelete(editExperiencia.id)"
        >
          {{ editExperiencia.puesto }}
        </button>
  </div>
</div>
