<div class="container" *ngIf="isLogged">
  <div>
    <p class="h1 p-3 bg-info text-white text-center">Crear nueva Experiencia</p>
    <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
      <div class="input-group mb-3">
        <span class="input-group-text">Puesto</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="puesto"
          [(ngModel)]="puesto"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Empresa</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="nombre_empresa"
          [(ngModel)]="nombre_empresa"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Tipo de Empleo</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="tipo_empleo"
          [(ngModel)]="tipo_empleo"
          required
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Fecha inicio</span>
        <input
          placeholder="yyyy-mm-dd"
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="fecha_inicio"
          [(ngModel)]="fecha_inicio"
          required
        />
        <span class="input-group-text">Fecha Fin</span>
        <input
          placeholder="yyyy-mm-dd"
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="fecha_fin"
          [(ngModel)]="fecha_fin"
          required
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">descripcion</span>
        <textarea
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="descripcion"
          [(ngModel)]="descripcion"
          required
        ></textarea>
      </div>

      <p class="p-3 mb-2 bg-secondary text-white text-center">
        Dato: como default esta asignad la persona 1
        necesario
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Persona ID</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="persona_id"
          [(ngModel)]="persona_id"
          required
        />

        <div class="container overflow-hidden text-center">
          <div class="row gx-5">
            <div class="col">
              <div class="p-3 border bg-light">
                <button class="btn btn-info text-white" type="submit">
                  Agregar {{puesto}}
                </button>
              </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">
                <button class="btn btn-primary" routerLink="/" type="button">
                  Volver al index
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <p class="h1 p-3 bg-success text-white text-center">Seleccionar Modificar Experiencia</p>
  <div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col" *ngFor="let experiencia of experiencias">
        <button
          type="button"
          class="btn btn-success"
          routerLink="/experiencia/editar/{{ experiencia.id }}"
        > Modificar
          {{ experiencia.puesto }}
        </button>
      </div>
    </div>
  </div>
</div>
