

<section class="mb-2 container-fludi w-75 mx-auto text-center pt-5" id="proyectos">
  <h2 class="p3 fs-2 border-top border-bottom border-3">
    <div *ngIf="hasRoute('/') && isLogged">
      <button
        type="button"
        class="btn btn-success"
        routerLink="/proyectos/crear"
      >
        Agregar proyectos
      </button>
    </div>Proyectos</h2>
  <div class="card" style="width: 18rem">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</section>
