<section class="container-fludi w-75 mx-auto text-center pt-5" id="sobre-mi">
  <div class="row mx-auto">

    <h2 class="p3 fs-2 border-top border-bottom border-3">
      <div *ngIf="isLogged">
        <button
          type="button"
          class="btn btn-success"
          routerLink="/persona/editar/{{ persona.id }}"
        >
          Editar Persona
        </button>
      </div>Sobre Mi</h2>

    <div class="col pt-5">
      <img
        class=""
        src="{{ persona.url_foto }}"
        alt="foto de perfil {{ persona.nombre }} {{ persona.apellido }}"
        width="180"
      />
    </div>
    <div class="col pt-3">
      <p>
        {{ persona.sobre_mi_bg }}
      </p>
    </div>
  </div>
</section>
