<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="https://www.concordia.gob.ar/sites/all/themes/programar/images/arg-programa.png"
                    style="width: 185px"
                    alt="logo"
                  />
                  <h4 class="mt-1 mb-5 pb-1">Solo usuarios permitidos</h4>
                </div>

                <form
                  [formGroup]="form"
                  #f="ngForm"
                  (ngSubmit)="onLogin()"
                  novalidate
                >
                  <p>Inicia seción para editar contenidos</p>

                  <div class="form-outline mb-4">
                    <input
                      [(ngModel)]="nombreUsuario"
                      required
                      [ngClass]="{
                        'is-invalid':
                          frontNombreUsuario?.errors &&
                          frontNombreUsuario?.touched,
                        'is-valid':
                          !frontNombreUsuario?.errors &&
                          frontNombreUsuario?.touched
                      }"
                      type="text"
                      formControlName="nombreUsuario"
                      id="nombreUsuario"
                      name="nombreUsuario"
                      class="form-control"
                      placeholder="usuario / correo"
                    />
                    <div
                      *ngIf="
                        frontNombreUsuario?.errors &&
                        frontNombreUsuario?.touched
                      "
                    >
                      <p
                        *ngIf="frontNombreUsuario?.hasError('required')"
                        class="text-danger"
                      >
                        el usuario es requerido
                      </p>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      [(ngModel)]="password"
                      required
                      [ngClass]="{
                        'is-invalid':
                          frontPassword?.errors && frontPassword?.touched,
                        'is-valid':
                          !frontPassword?.errors && frontPassword?.touched
                      }"
                      formControlName="password"
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="contraseña"
                    />
                    <div
                      *ngIf="frontPassword?.errors && frontPassword?.touched"
                    >
                      <p
                        *ngIf="frontPassword?.hasError('required')"
                        class="text-danger"
                      >
                        la contraseña es requerida
                      </p>
                    </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 m-2"
                      type="submit"
                    >
                      ingresar
                    </button>
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 m-2"
                      type="button"
                      (click)="volver()"
                    >
                      volver
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Gracis por acompañarnos</h4>
                <p class="small mb-0">
                  A esta sección solo tendrán acceso aquellos usuarios
                  permitidos para la edicion de los contenidos del porfolio
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
