<div>
  <div class="banner position-absolute start-0 d-none d-md-block">
    <div>
      <app-redes
        class="btn-group-vertical"
        role="group"
        aria-label="large Vertical button group "
      ></app-redes>
    </div>
  </div>

  <div class="banner position-absolute start-50 translate-middle-x">
    <div *ngIf="hasRoute('/') && isLogged">
      <button
        type="button"
        class="btn btn-outline-light"
        routerLink="/persona/editar/{{ persona.id }}"
      >
        Editar Persona
      </button>
    </div>
    <div class="text-center btn btn-outline-light" dislave>
      <h1 class="h1">Hola, soy {{ persona.nombre }} {{ persona.apellido }}</h1>
      <h2 class="h2">{{ persona.position }}</h2>
      <p class="fs-4 d-none d-sm-block">{{ persona.sobre_mi }}</p>
    </div>
  </div>
</div>
