
<section class="container text-center" id="skills">
  <div *ngIf="hasRoute('/') && isLogged">
    <button type="button" class="btn btn-success" routerLink="/skills/crear">
      Crear nuevo skill
    </button>
  </div>


  <div  >
    <circle-progress *ngFor="let skill of skills"
    class="col- 2"
      [radius]="60"
      [space]="-10"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [innerStrokeColor]="'#e7e8ea'"
      [innerStrokeWidth]="10"
      [animateTitle]="false"
      [animateSubtitle]="true"
      [animationDuration]="1000"
      [showUnits]="false"
      [showBackground]="false"
      [clockwise]="false"
      [lazy]="true"
      [title]=(skill.nombre)
      subtitle="{{skill.nivel}}%"
      [percent]=(skill.nivel)
      outerStrokeColor="{{skill.url_foto}}"
      outerStrokeGradientStopColor="{{skill.url_foto}}"


    ></circle-progress>
  </div>
</section>


