<div class="container" *ngIf="isLogged">
  <div>
    <p class="h1 p-3 bg-info text-white text-center">Crear nuevo skill</p>
    <form #f="ngForm" (ngSubmit)="onCreate()" novalidate>
      <p class="p-3 mb-2 bg-secondary text-white text-center">
        Nombre de la habilidad
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Nombre</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="nombre"
          [(ngModel)]="nombre"
          required
        />
      </div>
      <p class="p-3 mb-2 bg-secondary text-white text-center">
        Nivel de la habilidad de 0 a 100
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Nivel</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="nivel"
          [(ngModel)]="nivel"
          required
        />
      </div>
      <p class="p-3 mb-2 bg-secondary text-white text-center">
        Color hexadesimal para rueda
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Color linea exterior</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="url_foto"
          [(ngModel)]="url_foto"
          required
        />
      </div>

      <p class="p-3 mb-2 bg-secondary text-white text-center">
        Tipos: Front End -- BackEnd -- Habilidades blandas
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Tipo Skill</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="tipo_skill"
          [(ngModel)]="tipo_skill"
          required
        />
      </div>

      <p class="p-3 mb-2 bg-secondary text-white text-center">
        Dato: como default esta asignad la persona 1, modificarlo de ser
        necesario
      </p>
      <div class="input-group mb-3">
        <span class="input-group-text">Persona ID</span>
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon3"
          name="persona_id"
          [(ngModel)]="persona_id"
          required
        />
      </div>
      <div class="container overflow-hidden text-center">
        <div class="row gx-5">
          <div class="col">
            <div class="p-3 border bg-light">
              <button class="btn btn-info text-white" type="submit">
                Agregar {{nombre}}
              </button>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">
              <button class="btn btn-primary" routerLink="/" type="button">
                Volver al index
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <p class="h1 p-3 bg-success text-white text-center mt-4">Modificar Skill</p>
  <div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col" *ngFor="let red of skills">
        <button
          type="button"
          class="btn btn-success"
          routerLink="/skills/editar/{{ red.id }}"
        >
          {{ red.nombre }}
        </button>
      </div>
    </div>
  </div>
</div>
